<div>
    <!--search content-->
    Search: <input ng-model="query">

    Sort by:
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="-age">Oldest</option>
    </select>

    Max result: <input ng-model="maxResult">
</div>

<div>
    <ul>
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a href="#/phoneApp/{{phone.id}}">
                <img ng-src="{{phone.imageUrl}}" width="200" height="200">
            </a>
            <a href="#/phoneApp/{{phone.id}}">
                <span>{{phone.name}}</span>
            </a>
            <p>{{phone.snippet}}</p>
            <p>Age: {{phone.age}}</p>
        </li>
    </ul>
    <p>Page <span style="color: #0000FF" ng-repeat="i in ['<<', '<', 1, 2, 3, 4, 5, 6, 7, '>', '>>']"> {{i}} </span></p>
    <p>Total number phone: {{phones.length}}</p>
</div>

<div>
    <p>Author: {{author}}</p>
</div>